.drawer{
  top:0px;
}

.drawerpaper{
  top: 56px !important;
  width: 240px;
}


@media(min-width: 600px) {
  .drawerpaper{
    top: 64px !important;
  }
}

@media(max-width: 599px) {
  .drawerpaper{
    top: 56px !important;
  }
}