body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
  }

::-webkit-scrollbar-track {
  background: #f1f1f100;
  }

::-webkit-scrollbar-thumb {
  background: #3f51b5;
  }

.margintop20px{
  margin-top: 20px !important;
}
.margintop10px{
  margin-top: 10px !important;
}

.padding0px {
  padding: 0px !important;
}

.paddingleft30px {
  padding-left: 30px !important;
}

.width100percent {
  width: 100%;
}

.active {
  background-color: rgba(0, 0, 0, 0.14);
}
